@import "vars";

*{
  box-sizing:border-box;
}

html, body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing:  antialiased;
  font-size:$font-size;
  color:$text-color;

}

@keyframes home-load{
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes nav-load{
  from{margin-top:-100px;}
  to{margin-top:0;}
}

@keyframes cookies-load{
  from{bottom:-70px;}
  to{bottom:0;}
}


.container, footer{
  animation: home-load .6s linear;
  animation-iteration-count: 1;
}

.scrollable{
  overflow-x:hidden;
  overflow-y:scroll;
}
.font{
  font-family: 'Cabin', sans-serif;
}

.goog-te-combo{
  color:$text-color;
  border-radius:3px;
}

.modal-cookies{
  z-index: $z-index-gdpr;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:$white-color;
  padding:8px;
  display:flex;
  color:#737373;
  font-size:12px;
  animation-delay: .8s;
  animation: cookies-load .5s linear;
  animation-iteration-count: 1;
  .modal-cookies__content{
    &:first-child{
      flex-basis:80%;
      display:flex;
      align-items:center;
      padding-left:32px;
      a{
        border-bottom:dashed #737373 1px;
      }
    }
    &:last-child{

      flex-basis:20%;
    }
  }
}

.modal-user{
  position:fixed;
  bottom:-100px;
  left:18px;
  width:310px;
  height:80px;
  background: $white-color;
  border-radius:8px;
  font-size:16px;
  z-index: $z-index-user;
  transition: bottom .8s ease-in-out;
  -webkit-box-shadow: 0px 3px 13px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 3px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 3px 13px 0px rgba(50, 50, 50, 0.75);
  .modal-user__content{
    &:first-child{
      flex-basis:25%;
      background:#121212;
      border-radius:8px 0 0 8px;
      img{
        width:66%;
        height:auto;
        display:block;
      }
    }
    &:last-child{
      flex-basis:75%;
      padding:24px 18px;
    }
  }
}

.modal-user.visible{
  bottom:18px;
}

.util{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

.all-center{
  display:flex;
  justify-content:center;
  align-items:center;
}
.uppercase {
  text-transform: uppercase !important;
  letter-spacing: 0.15em !important;
  text-indent: 0.1em !important;
  font-weight: 400 !important;
}
.row{
  display:flex;
  flex-direction:row;
}
.column{
  display:flex;
  flex-flow: column nowrap;
}


.form-padded{
  padding-left:7%;
  padding-right:7%;
}

.height-md{
  height:996px;
}

.height-xl{
  height:6300px;
}

.height-sm{
  height:700px;
}

.height-xs{
  height:496px;
}


.height-lg{
  height:1406px;
}


.height-xl{
  height:2270px;
}

.full-width{
  width:100%;
}
nav.nav-bar--mobile{
  display:none;
  a{
    height:25px;
    width:25px;
    svg{
      height:inherit;
      width:inherit;
    }
    &:last-of-type{
      filter: brightness(0) invert(1);
    }
  }

}
nav.nav-bar{
  position:fixed;
  z-index:$z-index-10;
  background: $white-color;
  height:86px;
  color: $text-color;
  top:0;
  font-size:14px;
  width:100%;
  animation-delay: .8s;
  animation: nav-load .5s linear;
  animation-iteration-count: 1;
}

nav.nav-bar .container .wrapper{
  height:100%;
}

.wrapper-left{
  width:200px;
  float:left;
}

span.highlight{
  color: $highlight-color !important;
  text-shadow: 0px 0px 4px rgba(0,0,0, .8);
}

.wrapper-right{
  float:right;
  width:250px;
  padding-right:10px;
}
.btn{
  cursor:pointer;
  padding: 7px 12px;
}

.btn-cookies{
  background:$white-color;
  border-radius:3px;
  color:#737373;
  border: solid #737373 1px;

  padding: 5px 40px;
}

.btn-form{
  background: $highlight-color;
  background: $highlight-color; /* Old browsers */
  background: -moz-linear-gradient(top, $highlight-color 0%, #2cba4d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $highlight-color 0%,#2cba4d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $highlight-color 0%,#2cba4d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92828', endColorstr='#ba302c',GradientType=0 ); /* IE6-9 */
  border-radius:100px;
  color: $white-color;
  padding: 16px;
  font-size:22px;
  text-align:center;
}

.btn-messenger{
  color: #0084ff;
  border: solid #0084ff 1.5px;
  border-radius:100px;
  padding: ($stdMargin / 2) $stdMargin;
  font-size:10px;
  span{
    padding:($stdMargin / 3);
    &:last-child{
      line-height:24px;
      font-weight:600;
    }
  }
}



.accent-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bec7d+0,51d670+44,2dbe4f+75,2dbe4f+75 */
  background: #5bec7d; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #30cf8d 0%, #51d670 44%, #2dbe4f 75%, #2dbe4f 75%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #30cf8d 0%,#51d670 44%,#2dbe4f 75%,#2dbe4f 75%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #30cf8d 0%,#51d670 44%,#2dbe4f 75%,#2dbe4f 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bec7d', endColorstr='#2dbe4f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.brand-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#80a8e1+0,b6deff+100 */
  background: #80a8e1; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #80a8e1 0%, #406DB5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #80a8e1 0%,#406DB5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #80a8e1 0%,#406DB5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a8e1', endColorstr='#b6deff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.secondary-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#848084+0,282828+99 */
  background: #848084; /* Old browsers */
  background: -moz-linear-gradient(top, #848084 0%, #282828 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #848084 0%,#282828 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #848084 0%,#282828 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848084', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
}

.verti-bg{
  background: linear-gradient(135deg,#42c5ff 0,#7f1fff 100%);
}

.white-bg{
  background: $white-color;
}

.white-bg{
  background: $white-color;
}

.white-bg{
  background: $white-color;
}

.adapt-width{
  width:100%;
}

.adapt-height{
  height:auto;
}


nav.nav-bar .container{

  &.container .wrapper img{
    display:block;
    width:90%;
    height:auto;
    cursor:pointer;
  }
  &.container:first-child{
    max-width:250px;
    min-width:250px;
  }
  &.container:nth-child(2){
    min-width:calc(100% - 500px);
    max-width:calc(100% - 500px);
  }

  &.container:nth-child(3){
    line-height:18px;

    max-width:250px;
    min-width:250px;
  }
  &.container:nth-child(3) svg{
    height:15px;
    width:auto;
    display:inline-block;
  }
  &.container:nth-child(3) a{
    transition: all .2s ease-in-out;
  }
  &.container:nth-child(3) a:hover{
    background: rgba(0,0,0, .028);
    -webkit-box-shadow: 3px 3px 7px 0px rgba(50, 50, 50, 0.9);
    -moz-box-shadow:    3px 3px 7px 0px rgba(50, 50, 50, 0.9);
    box-shadow:         3px 3px 7px 0px rgba(50, 50, 50, 0.9);
  }
}
.container--mobile{
  display:none;

  #hamburger-icon {
    width:$width-line;
    height:$height-icon;
    position:relative;
    display:block;
    margin:auto;

    .line {
      display:block;
      background:$text-color;
      width:$width-line;
      height:$height-line;
      position:absolute;
      left:0;
      border-radius:($height-line / 2);
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;

      &.line-1 {
        top:0;
      }
      &.line-2 {
        top:50%;
      }
      &.line-3 {
        top:100%;
      }
    }
    &:hover, &:focus {
      .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
      }
      .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
      }
    }
    &.active {
      .line-1 {
        transform: translateY($translateY) translateX($translateX) rotate($rotation);
        -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
        -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      }
      .line-2 {
        opacity:0;
      }
      .line-3 {
        transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
        -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
        -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      }
    }
  }

  h1 {
    text-transform:uppercase;
  }
  a {
    text-decoration:none;
    color:#95a5a6;
    margin: 0.5em 1.5em;
    display:inline-block;
    &:hover, &:focus {
      color:$text-color;
    }
  }
}


nav.nav-bar .nav-list{
  justify-content:space-around;

  &.nav-list .nav-list__item{
    cursor:pointer;
    display:inline-block;
    margin: 0 $stdMargin;
  }

  &.nav-list .nav-list__item:hover{
    color: $brand-color;
    transition: all .2s ease-in-out;
  }
}

section:not(.section-purchase){
  display:flex;
  width:100%;
}

section.section-header{
  padding-top:84px;
}

section.section-header .container{
  height:100%;
  color:$white-color;
}

section.section-header .container .content{
  flex:1;
  &:first-child{
    font-size:$header-size;
    flex:1;
    text-align:center;
    margin: $stdMargin 0;
    height:$stdHeader;
  }

  &:nth-of-type(2){
    min-height:340px;
    max-height:340px;
    video{

      margin:auto;
      height:340px;
      width:  604.444px;
    }
  }
  &:nth-of-type(3){
    font-size:$subhead-size;
    flex:.7;
    margin: $stdMargin * 2;
    text-align:center;
  }
  &:nth-of-type(4){
    margin: $stdMargin auto;
    flex:.3;
  }
  &:last-child{
    margin: $stdMargin*2 0;
    margin-bottom: $stdMargin * 3;

    .content-item{
      flex:1;
      margin: 0 ($stdMargin * 2);
      .paragraph{
        width:100%;
        &:first-child{
          min-height:40px;
          flex-basis:40%;
          svg{
            height:45px;
            width:auto;
          }
        }
        &:nth-child(2){
          flex-basis:15%;
          font-weight:600;
          padding: 8px 0;
          text-align:center;
          font-size:16px;
        }
        &:last-child{
          flex-basis:100%;
          text-align:center;
          font-size:14px;
          padding:8px 16px;
        }
      }
    }
  }
}



section.section-explicacion{

  .container{
    height:100%;
    color:$white-color;
    .content{
      flex:1;

      &:first-child{
        font-size:$header-size;
        flex:1;
        text-align:center;
        margin: $stdMargin 0;
        height:$stdHeader;
      }

      &:nth-of-type(2){
        min-height:340px;
        max-height:340px;
      }

      &:nth-of-type(2) video{
        height:340px;
        width:  604.444px;
      }
      &:nth-of-type(3){
        font-size:$subhead-size;
        flex:1;
        margin-top: $stdMargin * 3;
        text-align:center;
      }

      &:last-child{

        margin: $stdMargin * 4;
      }
    }
  }
}

section.section-temario{
  .container{
    height:100%;
    .content{
      flex:1;

      &:first-child{
        font-size:$subhead-size;
        flex:1;
        margin: $stdMargin 0;
        height: $stdHeader * 2;
        text-align:center;
      }

      &:nth-of-type(2){
        flex:1;
      }

      &:last-child{
        margin: $stdMargin * 5;
      }
    }
  }
}

section.section-temario .container .content:first-child div{
  flex:1;
  span{
    &:first-child.header{
      font-size:$header-size;
    }

    &:last-child{
      font-size:20px;
    }
  }

}
span[name="submit"]{
  padding:0 36px;
}

section.section-temario .container .content:nth-child(2){
  .slide{
    flex-basis:33.33333%;
    flex-wrap:nowrap;

    .panel{
      margin-left: $stdMargin;
      margin-right: $stdMargin;
      justify-content: center;
      flex-basis:33.33333%;
      text-align:center;
      .panel-top{
        flex-basis:40%;
        width:auto;
      }
      .panel-mid{
        flex-basis:20%;
        font-size:18px;
        margin-top: $stdMargin / 2;
        margin-bottom: $stdMargin / 2;
      }
    }
    &:nth-child(2){
      margin-top: $stdMargin * 2;
      margin-bottom: $stdMargin * 2;
    }
  }
}
section.section-temario{
  color:$text-color;
  .panel-top{
    min-height:120px;
  }
  .panel-top__illustration{
    display:block;
    margin:auto;
    height:100%;
    z-index:$z-index-1;
    height:100px;
    width:220px;
    color:$white-color;
    position:relative;
    filter: grayscale(35%);
    &.panel-top__illustration--gradient-1{
      background: rgba(163,212,255,1);
      background: -moz-linear-gradient(-45deg, rgba(163,212,255,1) 0%, rgba(60,58,176,1) 43%, rgba(131,151,230,1) 77%, rgba(103,142,143,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(163,212,255,1)), color-stop(43%, rgba(60,58,176,1)), color-stop(77%, rgba(131,151,230,1)), color-stop(100%, rgba(103,142,143,1)));
      background: -webkit-linear-gradient(-45deg, rgba(163,212,255,1) 0%, rgba(60,58,176,1) 43%, rgba(131,151,230,1) 77%, rgba(103,142,143,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(163,212,255,1) 0%, rgba(60,58,176,1) 43%, rgba(131,151,230,1) 77%, rgba(103,142,143,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(163,212,255,1) 0%, rgba(60,58,176,1) 43%, rgba(131,151,230,1) 77%, rgba(103,142,143,1) 100%);
      background: linear-gradient(135deg, rgba(163,212,255,1) 0%, rgba(60,58,176,1) 43%, rgba(131,151,230,1) 77%, rgba(103,142,143,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d4ff', endColorstr='#678e8f', GradientType=1 );
    }
    &.panel-top__illustration--gradient-2{
      background: rgba(98,122,128,1);
      background: -moz-linear-gradient(-45deg, rgba(98,122,128,1) 0%, rgba(207,189,118,1) 41%, rgba(204,61,61,1) 77%, rgba(136,139,140,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(98,122,128,1)), color-stop(41%, rgba(207,189,118,1)), color-stop(77%, rgba(204,61,61,1)), color-stop(100%, rgba(136,139,140,1)));
      background: -webkit-linear-gradient(-45deg, rgba(98,122,128,1) 0%, rgba(207,189,118,1) 41%, rgba(204,61,61,1) 77%, rgba(136,139,140,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(98,122,128,1) 0%, rgba(207,189,118,1) 41%, rgba(204,61,61,1) 77%, rgba(136,139,140,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(98,122,128,1) 0%, rgba(207,189,118,1) 41%, rgba(204,61,61,1) 77%, rgba(136,139,140,1) 100%);
      background: linear-gradient(135deg, rgba(98,122,128,1) 0%, rgba(207,189,118,1) 41%, rgba(204,61,61,1) 77%, rgba(136,139,140,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627a80', endColorstr='#888b8c', GradientType=1 );
    }
    &.panel-top__illustration--gradient-3{
      background: rgba(2,33,41,1);
      background: -moz-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(120,207,120,1) 41%, rgba(61,204,111,1) 77%, rgba(136,139,140,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,33,41,1)), color-stop(41%, rgba(120,207,120,1)), color-stop(77%, rgba(61,204,111,1)), color-stop(100%, rgba(136,139,140,1)));
      background: -webkit-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(120,207,120,1) 41%, rgba(61,204,111,1) 77%, rgba(136,139,140,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(120,207,120,1) 41%, rgba(61,204,111,1) 77%, rgba(136,139,140,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(120,207,120,1) 41%, rgba(61,204,111,1) 77%, rgba(136,139,140,1) 100%);
      background: linear-gradient(135deg, rgba(2,33,41,1) 0%, rgba(120,207,120,1) 41%, rgba(61,204,111,1) 77%, rgba(136,139,140,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022129', endColorstr='#888b8c', GradientType=1 );
    }
    &.panel-top__illustration--gradient-4{
      background: rgba(2,33,41,1);
      background: -moz-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(207,120,204,1) 41%, rgba(204,61,204,1) 77%, rgba(22,72,89,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,33,41,1)), color-stop(41%, rgba(207,120,204,1)), color-stop(77%, rgba(204,61,204,1)), color-stop(100%, rgba(22,72,89,1)));
      background: -webkit-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(207,120,204,1) 41%, rgba(204,61,204,1) 77%, rgba(22,72,89,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(207,120,204,1) 41%, rgba(204,61,204,1) 77%, rgba(22,72,89,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(207,120,204,1) 41%, rgba(204,61,204,1) 77%, rgba(22,72,89,1) 100%);
      background: linear-gradient(135deg, rgba(2,33,41,1) 0%, rgba(207,120,204,1) 41%, rgba(204,61,204,1) 77%, rgba(22,72,89,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022129', endColorstr='#164859', GradientType=1 );
    }
    &.panel-top__illustration--gradient-5{
      background: rgba(2,33,41,1);
      background: -moz-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(124,207,120,1) 41%, rgba(166,204,61,1) 77%, rgba(22,72,89,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,33,41,1)), color-stop(41%, rgba(124,207,120,1)), color-stop(77%, rgba(166,204,61,1)), color-stop(100%, rgba(22,72,89,1)));
      background: -webkit-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(124,207,120,1) 41%, rgba(166,204,61,1) 77%, rgba(22,72,89,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(124,207,120,1) 41%, rgba(166,204,61,1) 77%, rgba(22,72,89,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(2,33,41,1) 0%, rgba(124,207,120,1) 41%, rgba(166,204,61,1) 77%, rgba(22,72,89,1) 100%);
      background: linear-gradient(135deg, rgba(2,33,41,1) 0%, rgba(124,207,120,1) 41%, rgba(166,204,61,1) 77%, rgba(22,72,89,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022129', endColorstr='#164859', GradientType=1 );
    }
    &.panel-top__illustration--gradient-6{
      background: rgba(163,255,181,1);
      background: -moz-linear-gradient(-45deg, rgba(163,255,181,1) 0%, rgba(15,217,4,1) 43%, rgba(99,230,99,1) 77%, rgba(56,133,25,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(163,255,181,1)), color-stop(43%, rgba(15,217,4,1)), color-stop(77%, rgba(99,230,99,1)), color-stop(100%, rgba(56,133,25,1)));
      background: -webkit-linear-gradient(-45deg, rgba(163,255,181,1) 0%, rgba(15,217,4,1) 43%, rgba(99,230,99,1) 77%, rgba(56,133,25,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(163,255,181,1) 0%, rgba(15,217,4,1) 43%, rgba(99,230,99,1) 77%, rgba(56,133,25,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(163,255,181,1) 0%, rgba(15,217,4,1) 43%, rgba(99,230,99,1) 77%, rgba(56,133,25,1) 100%);
      background: linear-gradient(135deg, rgba(163,255,181,1) 0%, rgba(15,217,4,1) 43%, rgba(99,230,99,1) 77%, rgba(56,133,25,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3ffb5', endColorstr='#388519', GradientType=1 );
    }
    &.panel-top__illustration--gradient-7{
      background: rgba(255,163,163,1);
      background: -moz-linear-gradient(-45deg, rgba(255,163,163,1) 0%, rgba(217,4,4,1) 43%, rgba(87,30,30,1) 77%, rgba(143,102,102,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,163,163,1)), color-stop(43%, rgba(217,4,4,1)), color-stop(77%, rgba(87,30,30,1)), color-stop(100%, rgba(143,102,102,1)));
      background: -webkit-linear-gradient(-45deg, rgba(255,163,163,1) 0%, rgba(217,4,4,1) 43%, rgba(87,30,30,1) 77%, rgba(143,102,102,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(255,163,163,1) 0%, rgba(217,4,4,1) 43%, rgba(87,30,30,1) 77%, rgba(143,102,102,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(255,163,163,1) 0%, rgba(217,4,4,1) 43%, rgba(87,30,30,1) 77%, rgba(143,102,102,1) 100%);
      background: linear-gradient(135deg, rgba(255,163,163,1) 0%, rgba(217,4,4,1) 43%, rgba(87,30,30,1) 77%, rgba(143,102,102,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3a3', endColorstr='#8f6666', GradientType=1 );
    }
    &.panel-top__illustration--gradient-8{
      background: rgba(147,206,222,1);
      background: -moz-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(207,116,186,1) 41%, rgba(227,213,204,1) 77%, rgba(73,165,191,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(207,116,186,1)), color-stop(77%, rgba(227,213,204,1)), color-stop(100%, rgba(73,165,191,1)));
      background: -webkit-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(207,116,186,1) 41%, rgba(227,213,204,1) 77%, rgba(73,165,191,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(207,116,186,1) 41%, rgba(227,213,204,1) 77%, rgba(73,165,191,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(147,206,222,1) 0%, rgba(207,116,186,1) 41%, rgba(227,213,204,1) 77%, rgba(73,165,191,1) 100%);
      background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(207,116,186,1) 41%, rgba(227,213,204,1) 77%, rgba(73,165,191,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );

    }
    &.panel-top__illustration--gradient-9{
      background: rgba(54,56,36,1);
      background: -moz-linear-gradient(-45deg, rgba(54,56,36,1) 0%, rgba(255,255,76,1) 57%, rgba(163,179,69,1) 81%, rgba(208,224,199,1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,56,36,1)), color-stop(57%, rgba(255,255,76,1)), color-stop(81%, rgba(163,179,69,1)), color-stop(100%, rgba(208,224,199,1)));
      background: -webkit-linear-gradient(-45deg, rgba(54,56,36,1) 0%, rgba(255,255,76,1) 57%, rgba(163,179,69,1) 81%, rgba(208,224,199,1) 100%);
      background: -o-linear-gradient(-45deg, rgba(54,56,36,1) 0%, rgba(255,255,76,1) 57%, rgba(163,179,69,1) 81%, rgba(208,224,199,1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(54,56,36,1) 0%, rgba(255,255,76,1) 57%, rgba(163,179,69,1) 81%, rgba(208,224,199,1) 100%);
      background: linear-gradient(135deg, rgba(54,56,36,1) 0%, rgba(255,255,76,1) 57%, rgba(163,179,69,1) 81%, rgba(208,224,199,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363824', endColorstr='#d0e0c7', GradientType=1 );
    }

    .panel-top__illustration--cover{
      height:100%;
      width:100%;
      position:relative;
      z-index: $z-index-2;
      background-color:transparent;
      min-height:100px;
      span{
        position:absolute;
        z-index: $z-index-3;
        &:first-child{
          font-size:78px;
          font-weight:600;
          left:5%;
          top:17%;
          bottom:15%;
          right:75%;
        }
        &:last-child{
          right:10px;
          bottom:10px;
          height:40px;
          width:40px;
          opacity:1;
          filter: brightness(0) invert(1);
          background: url("../images/icon.png") center center no-repeat;
          background-size:cover;
        }
      }
    }
  }
}

section.section-incluye{
  color:$text-color;
  .container{
    height:100%;
    .content{
      flex:1;

      &.content:first-child{
        margin: $stdMargin 0;
        font-size:$subhead-size;
        flex:1;
        height :$stdHeader;
        text-align:center;
      }

      &.content:last-child{
        flex:.875;
      }
    }
  }
}

section.section-incluye .container .content:first-child div{
  flex:1;
  span{
    &:first-child.header{
      font-size:$header-size;
      font-weight:600;
    }
    &:last-child{
      font-size:20px;
    }
  }

}

section.section-incluye .container .content:last-child{
  .slide{
    flex-basis:33.33333%;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    .panel{
      flex-basis:33.33333%;
      margin-left: $stdMargin;
      margin-right: $stdMargin;
      text-align:center;
      .panel-top{
        flex-basis:60%;

        height:260px;
      }
      .panel-mid{
        flex-basis:15%;
        font-size:20px;
        font-weight:600;
        letter-spacing:1.2px;
        padding: 12px 0;
        box-sizing:content-box;
      }
      .panel-bot{
        flex-basis:25%;
      }
    }

    &:first-child {
      .panel {
        &:first-child {
          .panel-top{
            background: url("../images/assets/escuela.png") center center no-repeat;
              background-size:50%;;
          }
        }
        &:last-child {
          .panel-top{
            background: url("../images/assets/Asset 4.svg") center center no-repeat;
              background-size:50%;;
          }
        }
      }
    }
    &:nth-child(2){
      .panel{
        &:first-child{
          .panel-top{
            background: url("../images/assets/Asset 2.svg") center center no-repeat;
              background-size:50%;;
          }
        }
        &:last-child{
          .panel-top{
            background: url("../images/assets/Asset 3.svg") center center no-repeat;
              background-size:50%;;
          }
        }
      }
    }
    &:last-child{
      .panel{
        &:first-child{
          .panel-top{
            background: url("../images/assets/bitcoin.png") center center no-repeat;
              background-size:58%;
          }
        }
        &:last-child{
          .panel-top{
            background: url("../images/assets/exclusivo.png") center center no-repeat;
            background-size:62%;
          }
        }
      }
    }
  }
}

section.section-comienza .container{
  flex:none;
  border-top:solid rgba(0, 0, 0, .1) 1px;
  form{
    width:345px;
    height:100%;
    .formgroup{
      flex:none;
      margin: $stdMargin 0;
      &:first-child{
        font-size:$important-size;
        box-sizing:content-box;
        color: $text-color;
        text-align:center;
        justify-content: center;
        align-items: center;
        height:75px;
        margin:$stdMargin;
        display:flex;
      }
      &:nth-child(4){
        flex:.6;
      }
      &:last-child{
        flex:.4;
        margin-top: $stdMargin * 2;
        margin-bottom: $stdMargin * 3;

      }
      input{
        border-radius:6px;
        height:50px;
        width:100%;
        padding:14px;
        font-family:inherit;
        color: $text-color;
        font-size:16px;
        flex-wrap:nowrap;
        border: solid $brand-color 1px;
      }
      button[type="submit"]{
        width:304px;
        border:none;

      }
    }
  }
  &:first-child{
  }
  &:last-child{
    flex:.6;
    .content{
      &:first-child{
        box-sizing:border-box;
        flex:none;
        text-decoration: underline;
        font-size:$header-size;
        font-weight:600;
        height:$stdHeader;
        align-items: center;

      }
      &:nth-child(2){
        box-sizing:border-box;
        flex:none;
        height:$stdHeader;
        font-weight:600;
        font-size:$subhead-size;
        padding-top:$stdMargin;
        align-items: flex-start;

      }
      &:nth-child(3){
        flex-basis:15%;
      }
      &:last-child{
        margin-bottom:$stdMargin * 4;
        flex:none;

      }
    }
  }
}

section.section-curso{
  text-align:center;
  .container{
    margin: ($stdMargin * 4) 0;
    height:80%;
    color:$white-color;
    font-size:18px;
    line-height:24px;
    span{
      display:block;
      font-size: 34px;
      &:nth-of-type(2){
        color: $highlight-color;
      }
      &:last-of-type{

        color: $error-color;
      }
    }
  }
}

footer.section-footer{
  .container{
    flex:1;
    &:first-child{
      margin:$stdMargin auto;
      height: $stdHeader;
      font-weight:600;

      font-size:42px;
    }
    &:nth-child(3){
      flex:1.5;
    }
    .footer__list{
      justify-content:space-evenly;
      .footer__list-item{
        margin: $stdMargin * 2;

        flex-basis:25%;
      }
      .footer__list-item--header{
        color: #ec1561;
        font-size:$subhead-size;
        flex:3;
        font-weight:600;
      }
    }
    &:last-child{
      .footer__list-item{
        &:first-child.footer__list-item--header{
          font-weight:400;
          color:$text-color;
          font-size:$header-size;
        }
        &:nth-child(2){
          height:120px;
          span{
            transform:scale(1.4);
          }
        }
        &:nth-child(3){

        }
        &:nth-child(4){
          font-size:16px;
          color: #4d4d4d;
          a{
            cursor:pointer;
            border-bottom: dashed #4d4d4d 2px;
          }
          a:hover{
            color: $brand-color;
            border-bottom-color: $brand-color;
            transition: all .2s ease-in-out;
          }
        }
        &:nth-child(5){

          font-size:16px;
          color: #4d4d4d;
        }

        &:nth-child(6){
        }
        &:last-child{

          font-size:12px;
          color: $text-color
        }
      }

    }
  }
}

/*
------------
PRODUCTS
-------------
 */
.btn-product{
  background: $brand-color;
  background: $brand-color; /* Old browsers */
  background: -moz-linear-gradient(top, $brand-color 0%, #345C95 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $brand-color 0%,#345C95 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $brand-color 0%,#345C95 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92828', endColorstr='#ba302c',GradientType=0 ); /* IE6-9 */
}


section.section-purchase{
  text-align:center;

  .container{
    height:100%;
    .btn{
      margin:$stdMargin * 2 auto;
      margin-bottom: $stdMargin * 3;
    }
    .content{
      &:first-child{
        margin:$stdMargin;
        border-bottom: solid #737373 1px;
        flex-basis:20%;
        span{
          &:last-child{
          }
        }
        img{
          width:auto;
          height:75px;
          margin:$stdMargin * 2 auto;
        }
      }
      &:nth-child(2){
        span{
          margin:$stdMargin auto;
          font-size:$header-size;
          &:first-child{
          }
          &:last-child{

            margin:$stdMargin;
            font-size: $subhead-size;
            font-style:italic;
          }
        }
      }
      &:nth-child(3){
        .content{

          margin:$stdMargin;
        }
      }
      &:last-child{
        img{
          height:180px;
          width:auto;
          margin-bottom: $stdMargin*3;
        }
      }
    }
  }
}

section.section-product{
  &:first-child{
  }
  &:last-child{
  }
}

section.section-buynow{
  text-align:center;
  border-bottom: solid #737373 1px;
  border-top: solid #737373 1px;
  .btn{
    transform: scale(1.4);
    margin-top: $stdMargin * 3;
    margin-bottom: $stdMargin * 3;
    svg{
      filter: brightness(0) invert(1);
    }
  }
  .content{
    &:first-child{
      height: $stdHeader;
      margin:$stdMargin*3 auto;
      margin-bottom:0;
      span, a{

        margin:$stdMargin;
        &:first-child{
          font-weight:600;
          font-size:$header-size;
        }
        &:last-child{
          color: $purchase-color;
        }
      }
    }
    &:nth-child(2){
      .content{
        margin:$stdMargin auto;
      }
      span, a{
        &:last-child{
          font-size: $font-size;
          text-align:center;
        }
      }
    }
    &:last-child{
      img{
        height:180px;
        width:auto;

        margin-bottom: $stdMargin * 3;
        margin-top:$stdMargin;
      }
    }
  }
  a{
  }
}
