* {
  box-sizing: border-box; }

b {
  font-weight: 600; }

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

@media screen and (min-width: 1180px) {
  .adapt-width {
    margin: auto;
    width: 996px; } }
@media screen and (max-width: 1220px) {
  .nav-bar--mobile-filter {
    background: black;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1100; }
    .nav-bar--mobile-filter.active {
      display: block; }

  nav.nav-bar {
    transition: margin-top .2s ease-in; }
    nav.nav-bar.active {
      margin-top: -100px; }
    nav.nav-bar .container:nth-child(2) {
      display: none; }
    nav.nav-bar .container:nth-child(3) {
      display: none; }
    nav.nav-bar .container--mobile {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      right: 12px;
      width: 60px; }

  nav.nav-bar--mobile:not(.nav-bar) {
    display: flex;
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    width: 300px;
    font-weight: 500;
    background: #ffffff;
    z-index: 1200;
    transition: right .5s ease-in-out;
    background: #424242;
    color: #ffffff; }
    nav.nav-bar--mobile:not(.nav-bar).active {
      right: 0; }
    nav.nav-bar--mobile:not(.nav-bar) .nav-bar--close {
      position: absolute;
      top: 15px;
      right: 15px;
      border-radius: 50%;
      background: #80A8E1;
      opacity: .5;
      font-size: 22px;
      cursor: pointer;
      color: #424242;
      width: 30px;
      height: 30px;
      align-items: center;
      border: none;
      transition: opacity .2s ease-in-out;
      padding-top: 2px;
      z-index: 1200; }
      nav.nav-bar--mobile:not(.nav-bar) .nav-bar--close:hover {
        opacity: 1; }
    nav.nav-bar--mobile:not(.nav-bar) ul {
      position: absolute;
      top: 26px;
      bottom: 0;
      left: 0;
      right: 10%; }
      nav.nav-bar--mobile:not(.nav-bar) ul li {
        font-size: 16px;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
        padding: 6px 0 6px 36px;
        transition: opacity .2s ease-in-out; }
        nav.nav-bar--mobile:not(.nav-bar) ul li a {
          cursor: pointer; }
        nav.nav-bar--mobile:not(.nav-bar) ul li:first-child {
          padding-left: 16px;
          height: 90px; }
          nav.nav-bar--mobile:not(.nav-bar) ul li:first-child img {
            height: 100%;
            width: auto;
            cursor: pointer; }
        nav.nav-bar--mobile:not(.nav-bar) ul li:nth-child(2) {
          margin-top: 20px; }
        nav.nav-bar--mobile:not(.nav-bar) ul li.is-button {
          padding-top: 42px;
          padding-bottom: 42px; }
          nav.nav-bar--mobile:not(.nav-bar) ul li.is-button .btn-form {
            background: #80A8E1;
            padding: 22px 32px; }
        nav.nav-bar--mobile:not(.nav-bar) ul li:last-child {
          margin-top: 32px; }
        nav.nav-bar--mobile:not(.nav-bar) ul li:hover:not(.is-button) {
          opacity: .75; } }
@media screen and (max-width: 671px) {
  section.section-incluye .container .content:last-child .slide .panel-top {
    max-height: 220px; }
  section.section-incluye .container .content:last-child .slide .panel-mid {
    padding: 0 0; }
  section.section-incluye .container .content:last-child .slide:first-child .panel:first-child .panel-top {
    background-size: 180px; }
  section.section-incluye .container .content:last-child .slide:first-child .panel:last-child .panel-top {
    background-size: 180px; }
  section.section-incluye .container .content:last-child .slide:nth-child(2) .panel:first-child .panel-top {
    background-size: 180px; }
  section.section-incluye .container .content:last-child .slide:nth-child(2) .panel:last-child .panel-top {
    background-size: 180px; }
  section.section-incluye .container .content:last-child .slide:last-child .panel:first-child .panel-top {
    background-size: 220px; }
  section.section-incluye .container .content:last-child .slide:last-child .panel:last-child .panel-top {
    background-size: 260px; }
  section.section-incluye .container .content:last-child .slide .panel {
    margin-top: 36px; }

  section {
    padding: 0 12px; }

  .js-userbar {
    display: none; }

  .content--padded {
    padding-left: 10px;
    padding-right: 10px; }

  .panel-top {
    background-size: 10%; }

  section.section-header .container .content {
    flex: 1; }
    section.section-header .container .content:first-child {
      font-size: 24px;
      flex: 1;
      max-height: 98px; }
    section.section-header .container .content:nth-of-type(2) {
      display: none; }
    section.section-header .container .content:nth-of-type(3) {
      margin-top: 0;
      font-size: 18px;
      flex: .4; }
    section.section-header .container .content:last-child {
      margin: 24px 0;
      flex-flow: column nowrap; }
      section.section-header .container .content:last-child .content-item {
        flex: 1;
        padding: 14px 0; }
        section.section-header .container .content:last-child .content-item .paragraph {
          width: 100%; }
          section.section-header .container .content:last-child .content-item .paragraph:first-child {
            flex-basis: 70%; }
          section.section-header .container .content:last-child .content-item .paragraph:last-child {
            flex-basis: 15%; }

  section.section-explicacion .container .content {
    flex: 1; }
    section.section-explicacion .container .content:first-child {
      font-size: 24px;
      max-height: none; }
    section.section-explicacion .container .content:nth-of-type(2) {
      display: none; }
    section.section-explicacion .container .content:nth-of-type(3) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px; }
    section.section-explicacion .container .content:last-child {
      margin: 36px;
      font-size: 18px; }

  section.section-temario .container .content:first-child {
    font-size: 18px; }
  section.section-temario .container .content:last-child {
    margin: 36px;
    margin-top: 0; }

  section.section-temario .container .content:nth-child(2) .slide {
    flex-flow: column nowrap; }
    section.section-temario .container .content:nth-child(2) .slide .panel {
      margin-top: 24px;
      margin-bottom: 24px; }
    section.section-temario .container .content:nth-child(2) .slide:nth-child(2) {
      margin-top: 0;
      margin-bottom: 0; }

  section.section-incluye .container {
    margin-bottom: 36px; }

  section.section-incluye .container .content:first-child div {
    flex: 1; }
    section.section-incluye .container .content:first-child div span:first-child.header {
      font-size: 24px; }
    section.section-incluye .container .content:first-child div span:last-child {
      font-size: 18px; }

  section.section-incluye .container .content:last-child .slide {
    flex-flow: column nowrap; }

  section.section-comienza .container:last-child {
    text-align: center; }
    section.section-comienza .container:last-child .content:first-child {
      font-size: 24px; }
    section.section-comienza .container:last-child .content:nth-child(2) {
      font-size: 18px; }
    section.section-comienza .container:last-child .content:last-child {
      margin-bottom: 60px; }

  section.section-curso .container {
    font-size: 18px; }
    section.section-curso .container span {
      font-size: 32px; }

  section.section-buynow .container:first-child {
    margin-top: 12px; }

  footer.section-footer {
    text-align: center; }
    footer.section-footer .container:first-child {
      margin: 0 auto;
      margin-bottom: 12px;
      font-size: 32px; }
    footer.section-footer .container .footer__list .footer__list-item--header {
      font-size: 24px; }
    footer.section-footer .container:last-child .footer__list-item:first-child.footer__list-item--header {
      font-size: 24px; }
    footer.section-footer .container:last-child .footer__list-item:nth-child(2) span {
      transform: scale(1.2); }

  img[alt="Accepted Payments"] {
    width: 98%;
    margin: auto;
    height: auto; }

  .modal-cookies .modal-cookies__content:first-child {
    padding: 7px;
    text-align: justify; } }

/*# sourceMappingURL=media.css.map */
