@import "vars";

@media screen and (min-width:1180px){
  .adapt-width{
    margin:auto;
    width:996px;
  }
}

@media screen and (max-width:1220px){
  .nav-bar--mobile-filter{
    background:black;
    opacity:.5;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:none;
    z-index:$z-index-gdpr;
    &.active{
      display:block;
    }
  }
  nav.nav-bar{
    transition:margin-top .2s ease-in;
    &.active{
      margin-top:-100px;
    }
    .container{
      &:nth-child(2){
        display:none;
      }
      &:nth-child(3){
        display:none;
      }
    }
    .container--mobile{
      position:absolute;
      display:flex;
      align-items:center;
      justify-content:center;
      height:100%;
      right:12px;
      width:60px;
    }
  }

  nav.nav-bar--mobile:not(.nav-bar){
    display:flex;
    position:fixed;
    right:-320px;
    top:0;
    bottom:0;
    width:300px;
    font-weight:500;
    background:$white-color;
    z-index: $z-index-user;
    transition: right .5s ease-in-out;
    background:#424242;
    color:$white-color;
    &.active{
      right:0;
    }
    .nav-bar--close{
      position:absolute;
      top:15px;
      right:15px;
      border-radius:50%;
      background:$brand-color;
      opacity:.5;
      font-size:22px;
      cursor:pointer;
      color:#424242;
      width:30px;
      height:30px;
      align-items:center;
      border:none;
      transition:opacity .2s ease-in-out;
      padding-top:2px;
      z-index: $z-index-user;
      &:hover{
        opacity:1;
      }
    }
    ul{
      position:absolute;
      top:26px;
      bottom:0;
      left:0;
      right:10%;
      li{
        font-size:16px;
        text-align:left;
        text-transform:uppercase;
        width:100%;
        padding: 6px 0 6px 36px;
        transition: opacity .2s ease-in-out;
        a{
          cursor:pointer;
        }
        &:first-child{
          padding-left:16px;
          height:90px;
          img{
            height:100%;
            width:auto;
            cursor:pointer;
          }
        }
        &:nth-child(2){
          margin-top:20px;
        }
        &.is-button{
          padding-top:42px;
          padding-bottom:42px;
          .btn-form{
            background:$brand-color;
            padding:22px 32px;
          }
        }
        &:last-child{

          margin-top:32px;
        }
        &:hover:not(.is-button){
          opacity:.75;
        }
      }
    }
  }
}

@media screen and (max-width:671px){ //mobile port
  section{
    padding: 0 12px;
  }
  .js-userbar{
    display:none;
  }
  .content--padded{
    padding-left: 10px;
    padding-right: 10px;
  }
  section.section-header .container .content {
    flex: 1;
    &:first-child {
      font-size: $subhead-size;
      flex: 1;
      max-height: 98px;
    }
    &:nth-of-type(2){
      display:none;
    }
    &:nth-of-type(3){
      font-size:$font-size;
      flex:.4;
    }
    &:last-child{
      padding: 46px 32px;
      flex-flow:column nowrap;
      .content-item{
        flex:1;
        padding:14px 0;

        .paragraph{
          width:100%;
          &:first-child{
              flex-basis:70%;
          }
          &:last-child{
            flex-basis:15%;
          }
        }
      }
    }
  }

  section.section-explicacion{
    height:550px;
    .container{
      .content{
        flex:1;
        &:first-child {
          font-size: $subhead-size;
          max-height: none;
        }
        &:nth-of-type(2){
          display:none;
        }
        &:nth-of-type(3){
          font-size:$font-size;
        }
      }
    }
  }

  section.section-temario{
    height:3600px;
    .container{
      .content{
        &:first-child{
          font-size:$font-size;
        }

        &:last-child{
          max-height:138px;
          padding: 46px 32px;
        }
      }
    }
  }

  section.section-temario .container .content:nth-child(2){
    .slide{
      flex-flow:column nowrap;
      .panel{
        padding:24px 0;
      }
    }
  }

  section.section-incluye{
  height:2360px;
  }

  section.section-incluye .container .content:first-child div{
    flex:1;
    span{
      &:first-child.header{
        font-size:$subhead-size;
      }

      &:last-child{
        font-size:$font-size;
      }
    }

  }

  section.section-incluye .container .content:last-child{
    .slide{
      flex-flow:column nowrap;
    }
  }

  section.section-comienza .container{
    &:last-child{
      text-align:center;
      padding:32px 0;
      .content{
        &:first-child{
          font-size:$subhead-size;
        }
        &:nth-child(2){
          font-size:$font-size;
        }
      }
    }
  }

  section.section-curso{
    height:686px;

    .container{
      font-size:$font-size;
      span{
        font-size: $header-size;
      }
    }
  }

  footer.section-footer{
    text-align:center;
    .container{
      &:first-child{
        font-size:$subhead-size;
      }
      .footer__list{
        .footer__list-item--header{
          font-size:$subhead-size;
        }
      }
      &:last-child{
        .footer__list-item{
          &:first-child.footer__list-item--header{
            font-size:$subhead-size;
          }
          &:nth-child(2){
            span{
              transform:scale(1.2);
            }
          }
        }
      }
    }
  }

  img[alt="Accepted Payments"]{
    width:98%;
    margin:auto;
    height:auto;
  }
  .cookies-bar{
    .cookies-bar__content{
      &:first-child{
        padding-left:0;
      }
    }
  }

}